* {
    margin: 0px;
    padding: 0px;
}

/*清除浮动样式*/
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE6-7专门清除浮动语句*/
}

.navbar {
    display: flex;
    width:100%;
    height:50px;
    background-color: rgb(109, 164, 232);
}

.navbar-brand {
    font-size: 30px;
    color: white;
    /* padding: 10px; */
}

.navbar-nav {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 0px 20px; */
    font-size: 20px;
}

.draw {
    /* border-radius: 10px; */
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.box {
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: rgb(233, 220, 120);
}

.lots, .resault {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    font: 100;
}

.lots li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5px;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(203, 103, 103);
    cursor: pointer;
}

#lot-addition {
    width: 100px;
}

.resault {
    width: 80%;
    margin: auto;
    background-color: rgb(120, 233, 143);
}